* {
  margin: 0;
  padding: 0;
}
.background-container {
  background-image: linear-gradient(to bottom right, #9796f0, #fbc7d4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  row-gap: 2px;
  flex-wrap: wrap;
  max-width: 750px;
  height: 100%;
  justify-self: center;
  margin: 125px;
}

.win-lose-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  height: 100%;
  color: white;
}
